<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Spring Quartz -->
	<bean id="quartzJob" class="com.deepQAWeb.service.QuartzJob"></bean>
	<!-- 定义调用对象和调用对象的方法 -->
	<bean id="jobtask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject">
			<ref bean="quartzJob" />
		</property>
		<!-- 调用类中的方法 -->
		<property name="targetMethod">
			<value>crawlWork</value>
		</property>
	</bean>
	<bean id="jobtask2"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject">
			<ref bean="quartzJob" />
		</property>
		<!-- 调用类中的方法 -->
		<property name="targetMethod">
			<value>exportDataWork</value>
		</property>

	</bean>
	<bean id="jobtask4"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject">
			<ref bean="quartzJob" />
		</property>
		<!-- 调用类中的方法 -->
		<property name="targetMethod">
			<value>work</value>
		</property>
		
	</bean>
	<bean id="jobtask5"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject">
			<ref bean="quartzJob" />
		</property>
		<!-- 调用类中的方法 -->
		<property name="targetMethod">
			<value>courtSearch</value>
		</property>
		
	</bean>
	<!-- 定义触发时间 value含义： 秒、分、时，天，月;0/1 从开启时间算起，每隔”1“的单位量运行一次 -->
	<!-- incremental Crawl time trigger -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobtask" />
		<property name="cronExpression" value="1 50 16 * * ? " />
	</bean>
	<!-- export CrawlCourt incremental Data time trigger -->
	<bean id="cronTrigger2" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobtask2" />
		<!-- 0 59 23 * * ? -->
		<property name="cronExpression" value="5 0 14 * * ?" />
	</bean>
	<!-- crawl wholewebsiteInfo time trigger -->
	<bean id="cronTrigger4" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobtask4" />
		<property name="cronExpression" value="31 20 16 ? * WED" />
	</bean>
	<!-- validate courtsearchData time trigger -->
	<bean id="cronTrigger5" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobtask5" />
		<property name="cronExpression" value="1 58 10 1/3 * ? " />
	</bean>
	<!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序 -->
	<bean id="startQuertz" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="jobtask" />
			</list>
		</property>
		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
			</list>
		</property>
	</bean>
	<bean id="startQuertz2" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="jobtask2" />
			</list>
		</property>
		<property name="triggers">
			<list>
				<ref bean="cronTrigger2" />
			</list>
		</property>
	</bean>

	<bean id="startQuertz4" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="jobtask4" />
			</list>
		</property>
		<property name="triggers">
			<list>
				<ref bean="cronTrigger4" />
			</list>
		</property>
	</bean>
	<bean id="startQuertz5" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="jobtask5" />
			</list>
		</property>
		<property name="triggers">
			<list>
				<ref bean="cronTrigger5" />
			</list>
		</property>
	</bean>
</beans>